*{
    font-family: 'Oxanium', sans-serif;
}

.imagem{ 
    width: 70%; 
    height: 70vh; 
    margin-left: 30vh;
}
.main1{
    
    height:120vh;
    display: flex;
    flex-direction: column;
  
}
.main2{
    
  padding: 20px;
  margin: 5px;
  margin-bottom: 20vh;
  height:90vh;
  display: flex;
  flex-direction: column;
}
.titulo{border-left: 5px solid  #FE6300;padding-left: 5px;}
.titulo{
     width: 50%;
     margin-top: 3vh;
     margin-left: 3vw;
}
.sub{
  margin: 10px;
  margin-bottom: 5vh;
  padding: 5px;
  margin-left: 3vw;
  width: 90%;
  height: 20%;
  font-size: 100%;
}
.texto1{
    margin: 10px;
    margin-bottom: 20vh;
    padding: 5px;
    margin-left: 3vw;
    width: 90%;
    height: 20%;
    font-size: 100%;
}



/*Imagem*/
.imagem-Grande{
    border: 1px solid;
    margin: 20px;
    width: 60%;
    height: 80%;
    margin-left: 40vh;
}
.miniaturas{
    display: flex;
    margin: 10px;
    padding: 5px;
    width: 60%;
     height: 30%;
     margin-left: 40vh;
     border: 3px solid #FE6300;
     border-radius: 5px;
    }
.miniatura{
    margin: 10px;
    width: 50%;
 height: 80%;

}
.Logo{width: 5%; height: 5%;}

.botao {
  background-color: #0074D9; 
  color: #ffffff; 
  padding: 10px 20px; 
  border: none; 
  width: 25%;
  left:35%;
  position: relative;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 10px 2px;
  cursor: pointer;
}


.botao:hover {
  background-color: #0056b3;}
/*RODAPÉ*/

.container{
  max-width: 1180px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
footer{
  background-color: #000;
  margin-top: 50px;
    padding: 40px;  
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #FE6300;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0px 10px 10px 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
  text-decoration: none;
}

.social-links p{
  color: white;
}

/*responsive*/
@media(max-width: 768px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }  
  .social-links{
    display: flex;
    flex-direction: column;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
  .container{
    display: flex;
    flex-direction: column;
  }
}